
.error{
    color: red;
    font-size: 13px;
    min-height: 25px;
}


.inputContainer{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: left;
}

.input-element{
    width: 100%;
}